@media (max-width: 1300px) {}

@media (max-width: 1200px) {
  .container {
    top: 40px;
    right: 40px;
    bottom: 60px;
    left: 40px;
  }

  .header__nav-navbar {
    display: none;
  }

  .slide {
    padding-bottom: 60px;
  }
}


@media (max-width: 950px) {
  .header__social {
    display: none;
  }

  .header__slider-controls {
    display: none;
  }

  .header__scrollbar {
    top: unset;
    right: unset;
    bottom: -35px;
    left: 0;
    width: 100%;
    transform: none;
  }

  .slide__label {
    top: 50%;
    left: 50%;
  }

  .label__tag {
    font-size: 6vw;
  }

  .label__title {
    font-size: 9vw;
  }

  .content-btn {
    width: 18.6vw;
    height: 4.7vw;
  }

  .content-btn h3 {
    font-size: 1.35vw;
  }

  .slide__title--norway div {
    width: 77vw;
  }

  .slide__title--austria div {
    width: 77vw;
  }
}

@media (min-width: 768px) and (max-height: 750px) {
  .header__scrollbar {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .container {
    top: 30px;
    right: 5%;
    bottom: 30px;
    left: 5%;
  }

  .header__scrollbar {
    bottom: -15px;
  }

  .content-btn {
    margin-bottom: unset;
    position: absolute;
    left: 50%;
    bottom: -150%;
    transform: translateX(-50%) !important;
    width: 100%;
    height: 8vw;
  }

  .content-btn h3 {
    font-size: 3vw;
  }

  .slide__label {
    top: 50%;
    left: 50%;
  }

  .label__title {
    -webkit-text-stroke: 2px #fff;
    font-size: 10vw;
  }

  .label__tag {
    text-align: center;
    font-size: 8vw;
  }

  .label-img img {
    width: 20vw;
    height: 59px;
  }

  .slide {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .label__title {
    margin-top: 0px;
  }

  .mobile-nav {
    width: 320px;
    padding: 40px 30px 0px;
  }

  .mobile-nav--close {
    top: 40px;
    right: 50px;
  }

}

@media (max-width: 520px) {
  .label__title {
    font-size: 18vw;
    flex-direction: column;
    align-items: center;
  }

  .label-img {
    display: none;
  }

  .label__title-cont {
    margin-top: 25px;
  }

  .content-btn {
    bottom: -100%;
  }

  .mobile-nav {
    width: 100%;
  }

  .loader {
    width: 280px;
  }
}

@media (max-width: 425px) {
  .loader {
    width: 200px;
  }
}


/* ===================================HEIGHT=========================================================== */



@media (max-height: 600px) {
  .header__social {
    display: none;
  }

  /* 
  .header__scrollbar {
    width: 250px;
  } */
}