.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: #fff;
  font-family: Mont, sans-serif;
}

.noscroll {
  overflow-y: hidden;
}

.preloader {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
}

.preloader-hidden {
  opacity: 0;
  pointer-events: none;
}

.loader {
  width: 450px;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}

.loader::after {
  content: '';
  width: 192px;
  height: 4.8px;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 1.2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }

  100% {
    left: 100%;
    transform: translateX(0%);
  }
}


/* =======================================HEADER============================================================ */

/* -----------------------------NAV----------------------------------------- */

.header {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.container {
  position: absolute;
  top: 50px;
  right: 70px;
  left: 70px;
  bottom: 80px;
  z-index: 10;
  pointer-events: none;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: all;
}

.header__nav-navbar {
  width: 560px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: 15px;
  right: 10%;
}

.nav-item {
  line-height: 1.22;
  /* display: block; */
}

.navbtn {
  transition: all 0.3s ease-in-out;
}

.navbtn:hover {
  color: #FFC700;
}

.navbtn a {
  position: relative;
}

.navbtn a::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-radius: 15%;
  background-color: #FFC700;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbtn a:hover::before {
  transform: scaleX(1);
}

.header__nav-burger {
  align-items: center;
  position: relative;
}

.burger-item {
  width: 40px;
  height: 34px;
  display: block;
  position: relative;
  right: 0;
}

.burger-line {
  display: block;
  background-color: #fff;
  width: 32px;
  height: 4px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  transition: all 0.3s ease;
}

.burger-line::before {
  content: '';
  width: 29px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  right: 0;
  transition: all 0.3s ease;
}

.burger-line::after {
  content: '';
  width: 36px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 9px;
  transition: all 0.3s ease;
}

.burger-item:hover ::after, .burger-item:hover ::before, .burger-item:hover .burger-line {
  background-color: #FFC700;
}


/* -------------------------------SOCIAL--------------------------------------- */

.header__social {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  align-items: center;
  pointer-events: all;
}

.social-link {
  transition: all 0.4s;
}

.social-link:hover {
  transform: scale(1.4);
}

.social-link:hover path {
  fill: #FFC700;
}

/* -----------------------------SCROLLBAR----------------------------------------- */

.header__scrollbar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  height: 10px;
}

/* ------------------------------SLIDER-CONTROL--------------------------------------- */

.header__slider-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: all;
}

.slider-controls-arrow {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow-item1, .arrow-item2 {
  width: 30px;
  height: 30px;
}

.arrow-item1:hover path, .arrow-item2:hover path {
  fill: #FFC700;
}

.arrow-item1 svg, .arrow-item2 svg {
  margin: 50% 50%;
  transform: translate(-50%, -50%);
}

.slider-controls-slide {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 18px;
}

.slide-item1, .swiper-pagination-current {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  opacity: 100%;
  color: #fff;
}

/* =========================================SLIDE============================================== */

/* ------------------------------SLIDE-HEADER--------------------------------------- */

.slide {
  height: 100vh;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  color: #fff;
  cursor: grab;
}

.slide--put {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%,
      rgba(0, 0, 0, 0.35) 100%), url('./../images/1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide--isl {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%,
      rgba(0, 0, 0, 0.35) 100%), url('./../images/2.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide--otk {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%,
      rgba(0, 0, 0, 0.35) 100%), url('./../images/3.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide--pok {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.70) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%,
      rgba(0, 0, 0, 0.35) 100%), url('./../images/4.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide:active {
  cursor: grabbing;
}

.slide__label {
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.content-btn {
  width: 15.6vw;
  height: 3.7vw;
  background-color: #FFC700;
  border-radius: 60px;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  color: #323232;
}

.content-btn h3 {
  font-size: 1.05vw;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.content-btn:hover {
  color: #FFC700;
}

.content-btn::after {
  content: '';
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 60px;
  background-color: #c7000093;
  transform: translateY(100%);
  transition: background-color 3s ease;
  transition: transform 0.5s ease;
  opacity: 0;
}

.content-btn:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.content-btn:active::after {
  background-color: #c70000c5;
}

.label__tag {
  font-weight: 700;
  font-size: 4.7vw;
  line-height: 1.23;
  letter-spacing: 5px;
  color: #ffffff;
}

.label-img {
  line-height: 0.1;
  z-index: 15;
}

.label-img img {
  width: 14vw;
  height: 59px;
}

.label__title {
  font-weight: 800;
  font-size: 7.3vw;
  color: transparent;
  -webkit-text-stroke: 4px #fff;
  line-height: 1;
  margin-top: -20px;
  display: flex;
  align-items: flex-end;
  column-gap: 30px;
}

.label__title-cont {
  display: flex;
  flex-direction: column;
  row-gap: -15px;
}

.title-cont-title {
  margin-top: -20px;
}

/* =======================================SWIPER============================================================== */

/* ----------------------------SWIPER------------------------------------------ */

.swiper-scrollbar {
  height: 2px !important;
  border-radius: 0 !important;
  background-color: #323232 !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: #FFC700 !important;
}

/* =======================================MOBILE=NAV=========================================================== */

.mobile-nav-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all 0.4s ease-in;
}

.mobile-nav-overlay--show {
  opacity: 1;
  pointer-events: all;
}

.mobile-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  width: 440px;
  height: 100vh;
  padding: 80px 60px 0px;
  background: #000000;
  transition: transform 0.4s ease-in;
}

.mobile-nav--show {
  transform: translate(0, 0);
}

.mobile-nav--close {
  width: 48px;
  height: 48px;
  display: block;
  position: absolute;
  top: 50px;
  right: 70px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.mobile-nav--close span {
  width: 25px;
  height: 3px;
  display: block;
  background-color: #fafafa;
  position: absolute;
  top: 45%;
  left: 21%;
  border-radius: 4px;
  transform: rotate(45deg);
  transition: transform all 0.4s ease-in;
}

.mobile-nav--close span::after {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fafafa;
  border-radius: 4px;
  transform: rotate(90deg);
}

.mobile-nav-wrapper {
  padding: 100px 0px 40px 0px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  height: 70%;
  justify-content: space-around;
  align-items: flex-start;
  font-weight: 600;
  font-size: 25px;
}

.mobile-nav-item {
  line-height: 1.25;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #fff;
}

.mobile-nav-item a {
  display: block;
  padding: 20px 0;
  transition: all 0.2s ease-in;
}

.mobile-nav-item a:hover {
  padding-left: 40px;
  color: #FFC700;
}

.mobile-nav-social {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mobile-nav-social .social-link {
  transition: all 0.4s;
}

.mobile-nav-social .social-link:hover {
  transform: scale(1.6);
}





.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #757575;
  font-size: 240px;
}



/* ===========================ARTICLE=1================================= */

/* ---------------------------------------------------------------------- */

/* ===========================ARTICLE=2================================= */

/* ---------------------------------------------------------------------- */

/* =======================================FOOTER============================================================ */

/* ---------------------------------------------------------------------- */